# Node modules
frontend/node_modules/

# Python cache
backend/__pycache__/

# Environment files
frontend/.env
frontend/env.example
backend/.env
backend/env.example

# OS files
.DS_Store
Thumbs.db

# Build output
frontend/dist/

# Logs
*.log

# Misc
*.pyc
